.landing-img-container {
  min-width: 100vw;
  height: 744px;
  position: absolute;
  left: 0;
}

.landing-img {
  width: 100%;
  height: 744px;
  object-fit: cover;
  position: absolute;
}

.learn-more-btn-container {
  position: absolute;
  bottom: -32px;
  right: 300px;
  width: 320px;
  height: 320px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 50%;
  background-color: rgb(80, 144, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: lighter;
}

.learn-more-btn-text {
  width: 226px;
  height: 65px;
  margin-bottom: 8px;
  letter-spacing: 0.125em;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  overflow-wrap: break-word;
}

.learn-more-btn {
  font-family: "Montserrat", arial, sans-serif;
  min-height: 56px;
  padding-right: 32px;
  display: inline-flex;
  border-style: none;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: 700;
  letter-spacing: 0.125em;
  padding-left: 32px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 48, 48);
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 0px;
}

.home-content-container {
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 750px;
  font-family: "Montserrat", arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.home-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.home-content-title {
  font-family: "Archivo Black", sans-serif;
  margin-bottom: 50px;
  color: rgb(27, 27, 27);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0px;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 100%;
  line-height: 1.25;
  font-size: 28px;
  text-transform: uppercase;
}

.home-content-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 1160px;
  width: 1356px;
}

.home-content-cell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: fit-content;
}

.home-content-words {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-family: "Montserrat", arial, sans-serif;
  width: 100%;
}

.home-content-header {
  color: rgb(27, 27, 27);
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.25;
  max-width: 100%;
  letter-spacing: 0.125em;
  font-weight: 400;
  text-transform: uppercase;
}

.home-content-text {
  color: rgb(94, 94, 94);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
}

.home-content-img {
  margin-left: 25px;
}

.coming-soon-container {
  width: 66.6667%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
  height: 65px;
  width: 725px;
  margin-bottom: 50px;
}

.coming-soon-text {
  font-family: "Montserrat", arial, sans-serif;
  color: rgb(87, 87, 87);
  font-size: 22px;
  font-weight: 400;
}


.review-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", arial, sans-serif;
  width: 100%;
  height: 270px;
  background-color: transparent;
  margin-top: 50px;
}

.reviews-img{
  width: 100%;
  height: 270px;
  object-fit: cover;
  filter: brightness(0.7);
}

.review-header{
  position: absolute;
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.12) 0px 2px 30px;
  font-weight: 400;
  font-family: "Archivo Black", arial, sans-serif;
  width: 1160px;
  text-align: center;
  top: 1500px;
}

.reviews-coming-soon-container{
  min-width: 40%;
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.5);
  margin-bottom: 50px;
  position: relative;
  bottom: 100px;
}

.reviews-coming-soon-text{
  color: white;
}

.subscribe-container{
  width: 100%;
  height: 176px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.subscribe-title{
  font-size: 28px;
  color:rgb(80, 144, 229) ;
  text-transform: uppercase;
  line-height: 1.25;
  font-family: "Archivo Black", arial, sans-serif;
}

.subscribe-input{
  color: rgb(71, 71, 71);
  font-size: 16px;
  width: 740px;
  height: 56px;
  border-style: none;
  background-color: rgb(246, 246, 246);
  margin-left: 25px;
  margin-right: 25px;
}

.subscribe-btn{
  background-color: rgb(80, 144, 229);
  color: rgb(255, 255, 255);
  box-shadow:  rgba(0, 0, 0, 0.2) 5px 5px 0px;
  border: none;
  font-family: "Montserrat", arial, sans-serif;
  text-transform: uppercase;
  width: 137px;
  height: 56px;
}