.footer{
    flex-shrink: 0;
    height: 136px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    color: white;
    background-color: rgb(80, 144, 229);
}

.footer-title{
    font-family: "Montserrat", arial, sans-serif;
    font-weight: 400;
}