/* Container for the header */
.header {
  border-top: 5px solid rgba(1,164,166,255);
  position: fixed;
  top: 0;
  left: 0;
  height: 89.6px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(232,234,237,255);
  z-index: 1;
}

/* Perinatal Alliance text */
.header-title {
  position: absolute;
  left: 2%;
  height: 100%;
  color: rgba(68,127,203,255);
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  

}

/* Container for the navigation bar */
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Container for the header icon  */
.header-icon {
  position: absolute;
  top: 30px;
  right: 35px;
  cursor: pointer;
  z-index: 1;
  
}

/* List of page routes at top of page */
.header-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-list-item {
  margin: 10px;
}

/* Styling regarding the the pop up menu for login */
.login-menu{
  position: absolute;
  right: 5px;
  width: 240px;
  height: 161px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px 3px;
  
}

.login-menu-list{
  list-style: none;

  
}

.login-menu-list-item{
  margin: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(56, 119, 201);
  cursor: pointer;
}



/* unvisited link, a link that has been visited, and when a link is clicked */
a:link, a:visited, a:active{
  color: rgb(27, 27, 27);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}


/* mouse over link */
a:hover {
color: rgb(37, 71, 117);  
text-decoration: none;
font-family: 'Montserrat', sans-serif;
}


/* Home link to make it bold compared to the other links */
a.home-link:link, a.home-link:visited, a.home-link:active{
  color: rgb(27, 27, 27);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

a.home-link:hover {
color: rgb(37, 71, 117);  
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

/* The link styling for the header title */
a.title-link:link, a.title-link:visited, a.title-link:hover, a.title-link:active {
color: rgb(56, 119, 201); ; 
text-decoration: none;
font-family: "Fjalla One", arial, sans-serif;
font-size: 30px !important;
font-weight: 400;
letter-spacing: 2px;
max-width: 100%;


}



